**/.git
**/.gitignore
**/.github
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/out
**/node_modules
**/*.user
**/*.suo
**/.env
**/.env.*
!**/.env.example
**/docker-compose*.yml
**/compose*.yaml
**/Dockerfile*
**/.dockerignore
**/README.md
**/LICENSE
